p {
    margin: 5px;
    white-space: nowrap;
}
.container {
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    box-shadow: 2px 3px 3px #a9a6a6;
    width: 70%;
}
.block {
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    padding: 0px 10px;
}
.container :last-child {
    border-right: none;
}
.grayColor {
    color: gray;
    font-size: 12px;
}
.greenColor {
    color: green;
    font-size: 16px;
    font-weight: bold;
}
.blue {
    color: blue;
}
.flex {
    display: flex;
}